.gift {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;

  &__cover {
    background-color: #7aa944;
    width: 100px;
    height: 25px;
  }

  &__body {
    background-color: #5c7e32;
    width: 90px;
    height: 60px;
  }

  &__ribbon {
    position: absolute;
    background-color: red;
  
    &--horizontal {
      width: 90px;
      height: 15px;
      top: 40px;
    }
    
    &--vertical {
      width: 15px;
      height: 85px;
    }
  }
}