.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__row {
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
  }
}